@import url("https://fonts.googleapis.com/css?family=Orbitron:400,700&display=swap");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe,
figure {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Orbitron', sans-serif;
  color: #141414;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#game {
  display: inline-block;
  border: 2px solid #999;
}

#game-wrapper {
  position: relative;
}

#game-info {
  margin-top: 10px;
}

#game-info .info {
  margin-bottom: 10px;
}

#game-controls {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 780px) {
  #game-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#game-controls .left,
#game-controls .right,
#game-controls .up,
#game-controls .down {
  position: absolute;
  width: 50%;
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  background: none;
  border: none;
}

#game-controls .right {
  right: 0;
}

#game-controls .left {
  left: 0;
}

#game-controls .up {
  top: 0;
}

#game-controls .down {
  bottom: 0;
}

.game-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
}

.game-screen .title {
  font-size: 3rem;
}

.game-screen button {
  margin: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.game-screen.active {
  opacity: 1;
  pointer-events: all;
}

.field {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}

.field[data-game="food"] {
  background-color: green;
}

.field[data-game="snake"] {
  background-color: #00a6ff;
}

.field[data-game="wall"] {
  background-color: #646464;
}

@media screen and (max-width: 560px) {
  .field {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.row-start {
  clear: both;
}
/*# sourceMappingURL=style.css.map */