@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700&display=swap');

// 12 column grid
@import 'partials/smart-grid';
// Normalize
@include reset();

//Vars
$white: #fff;
$black: #4C4C54;

// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-size: 1.6rem;
    font-family: 'Orbitron', sans-serif;
    color: rgb(20, 20, 20);
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

/////////
#game {
    display: inline-block;
    border: 2px solid #999;
    &-wrapper {
        position: relative;
    }
    &-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba($white, .6);
        transition: .3s;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        opacity: 0;
        pointer-events: none;
        .title {
            font-size: 3rem;
        }
        button {
            margin: 1.5rem;
            padding: 1rem 2rem;
            font-size: 1.6rem;
        }
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
    &-info {
        margin-top: 10px;
        .info {
            margin-bottom: 10px;
        }
    }
    &-controls {
        display: none;
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        align-items: center;
        justify-content: center;
        z-index: 1;
    
        @include sm-block() {
            display: flex;
        }
    
        .left,
        .right,
        .up,
        .down {
            position: absolute;

            width: 50%;
            height: 33%;
            display: flex;
            justify-content: center;
            vertical-align: center;

            background: none;
            border: none;
        }
        .right {
            right: 0;
        }
        .left {
            left: 0;
        }
        .up {
            top: 0;
        }
        .down {
            bottom: 0;
        }
    }
}

.field {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    &[data-game="food"] {
        background-color: green;
    }
    &[data-game="snake"] {
        background-color: #00a6ff;
    }
    &[data-game="wall"] {
        background-color: rgb(100, 100, 100);
    }
    @include xs-block() {
        width: 1.7rem;
        height: 1.7rem;
    }
}
.row-start {
    clear: both;
}

